@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap);

$poppins: 'Poppins', sans-serif;


ion-content{
  --ion-background-color: #c0bfbf;
  font-family: $poppins !important;
}

.container{
  max-width: 70%;
  margin: 60px auto 0px auto;
  // background-color: rgb(138, 230, 184);
  background-color: #fff;
  // background-color: #c0bfbf;
  padding: 50px;
  // border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

img{
  width: 50%;
  height: 50%;
  margin-left: 10%;
}

h2{
  margin: 0px;
}

ion-footer{
  padding-right: 30px;
}