<!-- <ion-header>
  <ion-toolbar>
    <ion-title>image-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <h2>Image</h2>
    <br/>
    <!-- <ion-item *ngFor="let x of data2.imgpath"> -->
      <!-- <ion-thumbnail slot="start"> -->
        <!-- <img src="https://img.mobiscroll.com/demos/card_2.png"></img> -->
        <img src="https://els-jbs-prod-cdn.jbs.elsevierhealth.com/cms/attachment/ef4a8372-424c-4190-8feb-13fe46ecebe3/gr1_lrg.jpg">
      <!-- </ion-thumbnail> -->
      <!-- <ion-label>{{item.text}}</ion-label> -->
    <!-- </ion-item> -->
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" color="medium" routerLink="/image-page">Next <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
