@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap);

$poppins: 'Poppins', sans-serif;


ion-content{
  --ion-background-color: #c0bfbf;
  font-family: $poppins !important;
}

.grid-outer{
  max-width: 70%;
  margin: 60px auto 0px auto;
  // background-color: rgb(138, 230, 184);
  background-color: #fff;
  // background-color: #c0bfbf;
  padding: 50px;
  // border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

ion-radio{
  background-color: #fff;
}

.grid-radio-label{
  padding: 18% 38%;
}

.item-native{
  background-color: #fff;
}

ion-col{
  // display: flex;
  // justify-content: center;
  // display: block;
  // text-align: center;
  height: 70px;
  // align-items: center;
  display: flex;
  // height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 1.5px;
  background-color: #fff;
  border: 1px solid #000;
  padding: auto;
}

// ion-col:hover{
//   background-color: #838383;
// }

ion-label{
  display: flex;
  justify-content: center;
}

.question-text{
  font-size: 20px;
  margin-bottom: 40px;
}

.rowhead{
  text-align: center;
  // height:20px;
  background-color: #e4e4e4;
}

.columnhead{
  background-color: #e4e4e4;
  font-size: 21px;
}

.rowheadtext{
  // margin: auto;
  text-align: center;
  // margin-top: 30px;
  font-family: $poppins;
  font-size: 21px;
}

input[type=checkbox], input[type=radio] {
  height: 22px;
  width: 22px;
}

input[type=text], input[type=number]{
  font-size: 20px;
}

ion-footer{
  padding-right: 30px;
}

ion-button{
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  // padding: 30px 20px;
}

ion-button:hover{
  background-color: #5d5d5d;
}

.right-arrow{
  margin-left: 10px;
}

.thank-box{
  border: 1px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.thank-text{
  font-size: 30px;
  font-weight: 700;
  line-height: 0px;
  vertical-align: middle;
  width: auto;
}

.shield-icon{
  font-size: 45px;
  color: rgb(57, 187, 57);
  vertical-align: middle;
  margin-left: 15px;
}

ion-icon {
  pointer-events: none;
}

.next-middle{
  position: absolute;
  top: 45%;
  right: 5%;
  font-size: 55px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.next-middle:hover, .back-middle:hover{
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.63);
}

.back-middle{
  position: absolute;
  top: 45%;
  left: 5%;
  font-size: 55px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

button{
  display: flex;
  padding: 10px;
}

// .button-native{
//   padding: 10px!important;
//   // display: flex;
// }