<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grid
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

  <!-- <div id="container">
    <strong>Ready to create an app????????</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

<!-- <ion-content>
  <ion-grid style="border: 1px solid #000;">

    <ion-row style="border: 1px solid #000;">
      <ion-col style="border: 1px solid #000;">
        <div style="border: 1px solid #000;">
          1 of 3
        </div>
      </ion-col>

      <ion-col style="border: 1px solid #000;">
        <div>
          Variable width content
        </div>
      </ion-col>

      <ion-col style="border: 1px solid #000;">
        <div>
          3 of 3
        </div>
      </ion-col>

      <ion-col style="border: 1px solid #000;">
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col style="border: 1px solid #000;">
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col size="auto" style="border: 1px solid #000;">
        <div>
          <ion-input placeholder="Variable width input"></ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<!-- <ion-content>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Service Provider Details</h1>
</ion-header-bar>
<ion-content>
    <div class="row header">
      <div class="col">Utility Company Name</div>
      <div class="col">Service Code</div>
      <div class="col">Pay Limit</div>
      <div class="col">Account Number to Use</div>
      <div class="col"></div>
    </div>
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col">{{data.name}}</div>
      <div class="col">{{data.code}}</div>
      <div class="col">LK {{data.limit}}</div>
      <div class="col">{{data.account}}</div>
      <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
    </div>
</ion-content>
</ion-content> -->


<ion-content>

<div class="grid-outer">

  <ion-row>

    <ion-col col-4 style="border: groove;" *ngFor="let x of data.columns">
      <ion-label>{{x.title}}</ion-label>
      <!-- <ion-label>{{data.columns[0]}}</ion-label> -->
    </ion-col>

    <!-- <ion-col col-4 style="border: groove;">
        <ion-label>Label</ion-label>
    </ion-col>  

    <ion-col col-4 style="border: groove;">
        <ion-label>Car</ion-label>
    </ion-col>

    <ion-col col-4 style="border: groove;">
        <ion-label>Bike</ion-label>
    </ion-col>

    <ion-col col-4 style="border: groove;">
        <ion-label>Scooty</ion-label>
    </ion-col>
    <ion-col col-4 style="border: groove;">
      <ion-label>Floating Label</ion-label>
  </ion-col> -->

  </ion-row>

  <ion-radio-group>
    <ion-row>

      <ion-col col-4 style="border: groove;">
            <ion-label *ngIf="data.gender == 'female' ">Car 11</ion-label>
            <!-- <ion-label *ngIf="data.gender == 'male' ">Car 22</ion-label> -->
            <ion-label>{{data.type1}}</ion-label>

            <!-- <ion-label>{{data.gender}}</ion-label> -->
      </ion-col>

      <!-- <ion-col col-4 style="border: groove;" *ngFor="let y of data.columns; let i = index; let first = first">
        <ion-label *ngFor="first">{{y.title}}</ion-label>
      </ion-col> -->

      <!-- <ion-col col-4 style="border: groove;" *ngFor="let y of data.rows">
        <ion-label>{{y}}</ion-label>
      </ion-col> -->

      <ion-col col-4 style="border: groove;" ng-repeat="y in data.rows">
        <ion-label>{{data.rows[5]}}</ion-label>
      </ion-col>

      <ion-col col-4 style="border: groove;">
        <ion-item>
          <!-- <ion-label>Select</ion-label> -->
          <ion-select interface="popover">
            <ion-select-option value="nes">Helicopter</ion-select-option>
            <ion-select-option value="n64">Aeroplane</ion-select-option>
            <ion-select-option value="ps">Jet</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-4 style="border: groove; font-size: 32px;">
        <ion-item>
          <!-- <ion-label position="floating">Floating Label</ion-label> -->
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-4 style="border: groove;">
        <ion-item>
          <ion-label>Car</ion-label>
          <ion-radio slot="start"></ion-radio>
        </ion-item>
      </ion-col>

      <ion-col col-4 style="border: groove;">
        <ion-item >
          <ion-label>Bike</ion-label>
          <ion-radio slot="start"></ion-radio>
        </ion-item>
      </ion-col>

      <ion-col col-4 style="border: groove;">
        <ion-item >
          <ion-label>Scooty</ion-label>
          <ion-radio slot="start"></ion-radio>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-radio-group>

</div>

</ion-content>

<!-- <ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        Auto Manufacturers
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Cord</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Duesenberg</ion-label>
      <ion-radio value="duesenberg"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hudson</ion-label>
      <ion-radio value="hudson"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Packard</ion-label>
      <ion-radio value="packard"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Studebaker</ion-label>
      <ion-radio value="studebaker"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list> -->


